@charset "utf-8";

@import url("reset.css");
@import url("font.css");
@import url("define.css");

body {
  /* font-family: var(--body-01-font);
  line-height: var(--body-01-lineHeight);
  font-weight: var(--body-01-weight);
  font-size: var(--body-01-size); */
}

#wrap {
  max-width: 1024px;
  margin: 0 auto;
}
#wrap.clickmenu {
}

#wrap.clickmenu::after {
  content: "";
  background-color: rgba(0, 0, 0);
}

.inner {
  width: calc(100% - 25px);
  margin: 0 auto;
  padding: 30px 0;
}

/* header */
.header {
  height: 70px;
  background-color: var(--color-white);
}

.header .inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .inner .logo {
  height: 42px;
}

.header .inner .logo a {
  height: 100%;
  display: block;
}

.header .inner .logo a img {
  width: 100%;
  height: 100%;
  line-height: 24px;
  object-fit: cover;
}

.header .inner .prevpage {
  height: 32px;
}

.header .inner .prevpage a {
  height: 100%;
  display: block;
}

.header .inner .prevpage a img {
  width: 100%;
  height: 100%;
  line-height: 32px;
  object-fit: cover;
}

.header .inner .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .inner .nav .language {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header .inner .nav .language a {
  display: block;
}

.header .inner .nav .language a p {
  font-family: var(--body-02-font);
  font-size: var(--body-02-size);
  font-weight: var(--body-02-weight);
  line-height: var(--body-02-lineheight);
}

.header .inner .nav .language a img {
  width: 16px;
  height: 16px;
  object-fit: cover;
}

.header .inner .nav .gnb {
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: red;
  padding: 25px;
  color: yellow;
  z-index: 9999;
}

.header .inner .nav .gnb.active {
  right: 0;
}

.header .inner .nav .gnb .gnb_wrap {
  display: flex;
  flex-direction: column;

  align-items: end;
  row-gap: 30px;
}

.header .inner .nav .gnb .gnb_wrap button {
  width: 60px;
  height: 60px;
}

.header .inner .nav .gnb .gnb_wrap button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header .inner .nav .gnb .gnb_wrap .list {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 20px;
}

.header .inner .nav .gnb .gnb_wrap .list li {
  font-family: var(--body-02-font);
  font-size: var(--body-02-size);
  font-weight: var(--body-02-weight);
  line-height: var(--body-02-lineheight);
}

.header .inner .nav .gnb .gnb_wrap .list li .depth-01 {
  display: block;
  font-family: var(--body-02-font);
  font-size: var(--body-02-size);
  font-weight: var(--body-02-weight);
  line-height: var(--body-02-lineheight);
}

.header .inner .nav .gnb .gnb_wrap .list li a p {
}

/* footer */

.footer {
  /* width: 100%; */
}

.footer .inner {
  width: calc(100% - 25px);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer .inner .footer-01 {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer .inner .footer-01 a {
  display: block;
}
.footer .inner .footer-01 a strong {
  font-family: var(--footer-01-font);
  font-size: var(--footer-01-size);
  font-weight: var(--footer-01-weight);
  line-height: var(--footer-01-lineheight);
}
.footer .inner .footer-01 a img {
  width: 80px;
  height: 100%;
  object-fit: cover;
}

.footer .inner .footer-02 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .inner .footer-02 .textbox {
  display: flex;
  flex-direction: column;
}
.footer .inner .footer-02 .textBox strong {
  font-family: var(--footer-01-font);
  font-size: var(--footer-01-size);
  font-weight: var(--footer-01-weight);
  line-height: var(--footer-01-lineheight);
}
.footer .inner .footer-02 .textBox p {
  font-family: var(--footer-02-font);
  font-size: var(--footer-02-size);
  font-weight: var(--footer-02-weight);
  line-height: var(--footer-02-lineheight);
}

.footer .inner .footer-03 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer .inner .footer-03 .sns {
  display: flex;
  column-gap: 24px;
}
.footer .inner .footer-03 .sns a {
  display: block;
}
.footer .inner .footer-03 .sns a img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.footer .inner .footer-03 .footer-copyright {
  font-family: var(--footer-02-font);
  font-size: var(--footer-02-size);
  font-weight: var(--footer-02-weight);
  line-height: var(--footer-02-lineheight);
}
.footer .inner .footer-03 p {
  font-family: var(--footer-02-font);
  font-size: var(--footer-02-size);
  font-weight: var(--footer-02-weight);
  line-height: var(--footer-02-lineheight);
}
