@charset "utf-8";

@import url("../font/Jalnan2/stylesheet.css");
@import url("../font/KoPubWorld_Dotum/stylesheet.css");
@import url("../font/RiDiBatang/stylesheet.css");

:root {
  --heading-01-size: 24px;
  --heading-01-font: "Jalnan2";

  --subtitle-01-size: 24px;
  --subtitle-01-lineHeight: 140%;
  --subtitle-01-weight: bold;
  --subtitle-01-font: "KoPubWorld_Dotum";

  --subtitle-02-size: 16px;
  --subtitle-02-lineHeight: 140%;
  --subtitle-02-weight: bold;
  --subtitle-02-font: "KoPubWorld_Dotum";

  --subtitle-03-size: 16px;
  --subtitle-03-lineHeight: 140%;
  --subtitle-03-weight: 500;
  --subtitle-03-font: "KoPubWorld_Dotum";

  --body-01-size: 16px;
  --body-01-lineHeight: 140%;
  --body-01-weight: 500;
  --body-01-font: "RIDIBatang";

  --caption-01-size: 16px;
  --caption-01-lineHeight: 140%;
  --caption-01-weight: bold;
  --caption-01-font: "KoPubWorld_Dotum";

  --caption-02-size: 16px;
  --caption-02-lineHeight: 140%;
  --caption-02-weight: 300;
  --caption-02-font: "KoPubWorld_Dotum";
}
