@charset "utf-8";

@import url("../font/Pretendard/pretendard.css");
@import url("../font/DexotickByDhanStudio/stylesheet.css");

:root {
  --heading-01-font: "Dexotick_By_Dhan_Studio";
  --heading-01-size: 32px;
  --heading-01-lineheight: 48px;

  --heading-02-font: "Dexotick_By_Dhan_Studio";
  --heading-02-size: 24px;
  --heading-02-lineheight: 36px;

  --heading-03-font: "Pretendard";
  --heading-03-size: 32px;
  --heading-03-weight: 700;
  --heading-03-lineheight: 48px;

  --heading-04-font: "Pretendard";
  --heading-04-size: 24px;
  --heading-03-weight: 700;
  --heading-04-lineheight: 36px;

  --body-01-font: "Pretendard";
  --body-01-size: 16px;
  --body-01-weight: 700;
  --body-01-lineheight: 24px;

  --body-02-font: "Pretendard";
  --body-02-size: 16px;
  --body-02-weight: 400;
  --body-02-lineheight: 24px;

  --caption-01-font: "Pretendard";
  --caption-01-size: 14px;
  --caption-01-weight: 700;
  --caption-01-lineheight: 21px;

  --caption-02-font: "Pretendard";
  --caption-02-size: 14px;
  --caption-02-weight: 400;
  --caption-02-lineheight: 21px;

  --button-B-font: "Pretendard";
  --button-B-size: 18px;
  --button-B-weight: 700;
  --button-B-lineheight: 27px;

  --button-R-font: "Pretendard";
  --button-R-size: 18px;
  --button-R-weight: 400;
  --button-R-lineheight: 27px;

  --footer-01-font: "Pretendard";
  --footer-01-size: 12px;
  --footer-01-weight: 700;
  --footer-01-lineheight: 14px;

  --footer-02-font: "Pretendard";
  --footer-02-size: 12px;
  --footer-02-weight: 400;
  --footer-02-lineheight: 14px;
}
